# Build outputs
/out/
/boot_image/
/clang/
/kernel/
/anykernel3/
/build-tools/
/mkbootimg/
/susfs/
/staged/
*.log
/github.env
/github.json
/.ccache/
/libfakestat/
/.vscode/
/modules/flatten/
/modules/staging/
